/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';

// паршалов не будет, всё будет тут
body {
  background-color: darkgoldenrod;
}
.search-form {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  background-color: rgb(69, 68, 97);
}
input {
  font-size: 16px;
  background-color: aquamarine;
}
button {
  // margin-right: 10px;
  font-size: 16px;
  background-color: rgb(140, 140, 206);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}
.page-field {
  margin: 0 10px;
  padding: 5px;
  font-size: 16px;
  background-color: darkgoldenrod;
  border: solid 1px black;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
  height: 100%;
  margin: 5px;
  border: solid 1px rgb(48, 53, 0);
  border-radius: 5px;
  background-color: rgb(243, 255, 133);
}
img {
  margin: 5px;
}
.info {
  display: flex;
  justify-content: center;
  // width: 640px;
  background-color: rgb(243, 255, 133);
}
.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5px 2px;
  padding: 5px 10px;

  border: solid 1px rgb(48, 53, 0);
  border-radius: 5px;
  background-color: sandybrown;
  color: black;

  font-size: 14px;
}
